@import 'src/sass/common';

.search-item {
    display: flex;
    padding: 24px 0;
    border-bottom: 1px solid $border;

    &:last-child {
        border-bottom: none;
    }

    .poster {
        width: 160px;
        height: auto;
    }

    .info {
        margin-left: 24px;

        .title {
            font-size: 18px;
            font-weight: bold;
            color: $primary-text;
            text-transform: uppercase;
            text-decoration: none;

            &:visited {
                text-decoration: none;
            }
        }

        .desc {
            margin-top: 8px;
            color: $secondary-text;
        }
    }
}